* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.allbody {
  width: 100%;
  min-height: 100vh;
  color: #000000;
  padding: 20px 50px;
  background-color: red;
}

#nav-mobile {
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: blue;
  width: 100%;
  height: 100dvh;

  margin-left: -100%;
  transition: 0.7s;
}

.success {
  background-color: green !important;
  margin-left: 0 !important;
}

nav {
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #111;
}

.logo {
  font-size: 2em;
  color: #ff0000;
  font-weight: bold;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.navbar a:hover {
  color: #000000;
}

.menu-toggle {
  display: none;
  font-size: 1.8em;
  cursor: pointer;
  color: #d40505;
}

.altext,
.altext2,
.az,
.piol {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 50px 0;
}

.ddd {
  flex: 1;
  border-radius: 10px;
}

.img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.img img {
  max-width: 400px;
  width: 100%;
}

.da {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}

.z3 {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.logo {
  color: rgb(238, 233, 233);
}

.za {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.za img {
  max-width: 150px;
}

.d,
.img-1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.img-1 img {
  max-width: 300px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  padding: 20px;
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 70px;
    right: 0;
    background: #f7f7f7;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .navbar.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .navbar {
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .loid,
  .da,
  .za,
  .d,
  .img-1 {
    flex-direction: column;
    align-items: center;
  }

  .img {
    justify-content: center;
  }

  .z3 {
    margin-left: 0;
    gap: 20px;
  }

  .ddd {
    width: 90%;
  }

  img {
    max-width: 90%;
  }
}
