.po {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
}

.text {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
}

.text-2 {
  background-color: rgb(0, 0, 0);
  color: white;
}

.koi {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
}

.a {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
}
.bar-3 {
  display: flex;
  justify-content: space-between;
}

.boi {
  background-color: black;
  color: white;
}

.ig {
  display: flex;

  margin-left: 90%;
}

.btn{
  border-color: blue;
  border-radius: 10%;
}

.loi{
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.moi{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lop{
  background-color: black;
  color: white;
  border-radius: 10px;
}

.lol{
   background-color: black;
  color: white;
  border-radius: 10px;
}