body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  margin: 0;
}

.calculator {
  width: 250px;
}

.display {
  width: 100%;
  height: 60px;
  font-size: 24px;
}

.all-card {
  display: grid;
  grid-template-columns: repeat(4, 64px);
  gap: 20px;
}

.card1:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}

.card2:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}
.card3:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}
.card4:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}
.card5:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}

.card6:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}

.card7:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}

.card8:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}
.card9:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}

.card#:hover {
  transition: 0.7s;
  border-radius: 142px;
  background: #ff0000;
  box-shadow:
    inset 14px 14px 13px #fc0202,
    inset -14px -14px 13px #ff0800;
}



.all-card div {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background: #000;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 71px;
  background: linear-gradient(145deg, #181818, #f00e0e);
  box-shadow:
    5px 5px 9px #b8b8b8,
    -5px -5px 9px #ffffff;
}